In [46]:
import pandas as pd

In [47]:
company=pd.read_csv('fortune501.csv')
company.head(5)

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,72700,2.0,"$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
4,5,McKesson,68000,5.0,"$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"

In [48]:
companyName=company.groupby('Company Name')
len(company)

500

In [49]:
len(companyName)

497

In [50]:
companyName.size()

Company Name
3M                        1
A-Mark Precious Metals    1
ABM Industries            1
ADP                       1
AECOM                     1
                         ..
Yum China Holdings        1
Zimmer Biomet Holdings    1
eBay                      1
iHeartMedia               1
salesforce.com            1
Length: 497, dtype: int64

In [51]:
companyName.size().sort_values(ascending=False)

Company Name
Regions Financial       2
Alcoa                   2
Avnet                   2
3M                      1
Nucor                   1
                       ..
Eli Lilly               1
Edison International    1
Ecolab                  1
Eastman Chemical        1
salesforce.com          1
Length: 497, dtype: int64

In [52]:
companyName.first()

,Rank,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Company Name,,,,,,,,,
3M,94,91584,93.0,"$30,109",-0.5%,"$5,050.0",4.5%,"$32,906","$1,14,338"
A-Mark Precious Metals,395,83000,426.0,"$6,784",11.8%,$9.3,31.5%,$437,$120
ABM Industries,500,"1,10,000",485.0,"$5,145",-2.8%,$57.2,-25.0%,"$2,281","$2,428"
ADP,240,57000,248.0,"$11,668",1.7%,"$1,492.5",2.8%,"$43,670","$45,963"
AECOM,161,87000,156.0,"$17,411",-3.2%,$96.1,-,"$13,727","$5,528"
...,...,...,...,...,...,...,...,...,...
Yum China Holdings,399,"4,20,000",NaN,"$6,752",-,$502.0,-,"$3,727","$10,453"
Zimmer Biomet Holdings,352,18500,431.0,"$7,684",28.1%,$305.9,108.1%,"$26,684","$24,571"
eBay,310,12600,300.0,"$8,979",-5.4%,"$7,266.0",321.2%,"$23,847","$36,232"
iHeartMedia,426,18700,414.0,"$6,274",0.5%,-$296.3,-,"$12,862",$330
salesforce.com,326,25000,386.0,"$8,392",25.9%,$179.6,-,"$17,585","$58,362"

In [53]:
companyName.last()

,Rank,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Company Name,,,,,,,,,
3M,94,91584,93.0,"$30,109",-0.5%,"$5,050.0",4.5%,"$32,906","$1,14,338"
A-Mark Precious Metals,395,83000,426.0,"$6,784",11.8%,$9.3,31.5%,$437,$120
ABM Industries,500,"1,10,000",485.0,"$5,145",-2.8%,$57.2,-25.0%,"$2,281","$2,428"
ADP,240,57000,248.0,"$11,668",1.7%,"$1,492.5",2.8%,"$43,670","$45,963"
AECOM,161,87000,156.0,"$17,411",-3.2%,$96.1,-,"$13,727","$5,528"
...,...,...,...,...,...,...,...,...,...
Yum China Holdings,399,"4,20,000",NaN,"$6,752",-,$502.0,-,"$3,727","$10,453"
Zimmer Biomet Holdings,352,18500,431.0,"$7,684",28.1%,$305.9,108.1%,"$26,684","$24,571"
eBay,310,12600,300.0,"$8,979",-5.4%,"$7,266.0",321.2%,"$23,847","$36,232"
iHeartMedia,426,18700,414.0,"$6,274",0.5%,-$296.3,-,"$12,862",$330
salesforce.com,326,25000,386.0,"$8,392",25.9%,$179.6,-,"$17,585","$58,362"

In [54]:
companyName.groups

{'3M': [93], 'A-Mark Precious Metals': [394], 'ABM Industries': [499], 'ADP': [239], 'AECOM': [160], 'AES': [193], 'AGCO': [369], 'AIG': [54], 'AK Steel Holding': [440], 'AT&T': [8], 'AbbVie': [110], 'Abbott Laboratories': [134], 'Activision Blizzard': [405], 'Adobe Systems': [442], 'Advance Auto Parts': [291], 'Aetna': [42], 'Aflac': [125], 'Air Products & Chemicals': [293], 'Airgas': [488], 'Alaska Air Group': [437], 'Albertsons Cos.': [48], 'Alcoa': [227, 299], 'Alleghany': [427], 'Alliance Data Systems': [377], 'Allstate': [83], 'Ally Financial': [285], 'Alphabet': [26], 'Altria Group': [147], 'AmTrust Financial Services': [474], 'Amazon.com': [11], 'Ameren': [430], 'American Airlines Group': [66], 'American Electric Power': [166], 'American Express': [85], 'American Family Insurance Group': [314], 'American Financial Group': [410], 'American Tower': [448], 'Ameriprise Financial': [238], 'AmerisourceBergen': [10], 'Amgen': [122], 'Amphenol': [423], 'Anadarko Petroleum': [343], 'Anixter International': [358], 'Anthem': [28], 'Apache': [487], 'Apple': [2], 'Applied Materials': [264], 'Aramark': [191], 'Archer Daniels Midland': [44], 'Arrow Electronics': [117], 'Arthur J. Gallagher': [461], 'Asbury Automotive Group': [409], 'Ascena Retail Group': [383], 'Assurant': [360], 'Auto-Owners Insurance': [397], 'AutoNation': [128], 'AutoZone': [269], 'Autoliv': [282], 'Avery Dennison': [429], 'Avis Budget Group': [318], 'Avnet': [107, 108], 'Avon Products': [443], 'BB&T Corp.': [244], 'Baker Hughes': [284], 'Ball': [305], 'Bank of America Corp.': [25], 'Bank of New York Mellon Corp.': [176], 'Baxter International': [280], 'Becton Dickinson': [224], 'Bed Bath & Beyond': [232], 'Berkshire Hathaway': [1], 'Berry Global Group': [412], 'Best Buy': [71], 'Big Lots': [494], 'Biogen': [247], 'BlackRock': [254], 'Boeing': [23], 'Booz Allen Hamilton Holding': [480], 'BorgWarner': [304], 'Boston Scientific': [326], 'Bristol-Myers Squibb': [146], 'Builders FirstSource': [420], 'Burlington Stores': [462], 'C.H. Robinson Worldwide': [211], 'CBRE Group': [213], 'CBS': [192], 'CDW': [198], 'CH2M Hill': [493], 'CHS': [92], 'CMS Energy': [418], 'CST Brands': [306], 'CSX': [256], 'CVS Health': [6], 'CalAtlantic Group': [414], 'Calpine': [399], 'Campbell Soup': [338], 'Capital One Financial': [99], 'CarMax': [173], 'Cardinal Health': [14], 'Casey�s General Stores': [422], ...}

In [55]:
company.iloc[23,:]

Rank                          24
Company Name              Boeing
Number of Employees     1,50,540
Previous Rank               24.0
Revenues                 $94,571
Revenue Change             -1.6%
Profits                 $4,895.0
Profit Change              -5.4%
Assets                   $89,997
Market Value           $1,07,546
Name: 23, dtype: object

In [56]:
delivery=pd.read_csv("deliveries.csv")

In [57]:
delivery.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

### finding top 5 batsman

In [58]:
runs=delivery.groupby('batsman')  # total groups of batsman

In [59]:
runs.get_group('V Kohli') # total game played by V Kohli

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150410,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,0,0,0,V Kohli,bowled,NaN

In [60]:
runs.get_group('V Kohli').shape[0]  # total balls played by V Kohli

3494

In [61]:
runs['batsman_runs'].sum()

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Flintoff          62
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2591
Z Khan             117
Name: batsman_runs, Length: 461, dtype: int64

In [62]:
# top 5 batsman
runs['batsman_runs'].sum().sort_values(ascending=False).head(5)

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [63]:
mask=delivery['batsman_runs']==6
new_delivery=delivery[mask]

In [64]:
new_delivery.shape[0]  # total chakka i.e 6 runs in all matches

6523

In [65]:
new_delivery.groupby('batsman')['batsman_runs'].count()

batsman
A Ashish Reddy      15
A Choudhary          1
A Flintoff           2
A Mishra             5
A Mithun             1
                  ...
Y Venugopal Rao     37
YK Pathan          149
YV Takawale          3
Yuvraj Singh       141
Z Khan               2
Name: batsman_runs, Length: 301, dtype: int64

In [66]:
# top 5 batsman to hit more sixes
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(5)

batsman
CH Gayle     266
SK Raina     174
RG Sharma    173
V Kohli      160
DA Warner    160
Name: batsman_runs, dtype: int64

In [67]:
vk=delivery[delivery['batsman']=='V Kohli']
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(5)
# these are the team V.Kohli hits runs against these teams

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

### Batsman hits more runs against which team

In [93]:
def runs_scored(batsman_name):
    vk=delivery[delivery['batsman'] == batsman_name]
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(1)

In [95]:
runs_scored('V Kohli')

bowling_team
Chennai Super Kings    706
Name: batsman_runs, dtype: int64

### isin() methods
### find the most destructive death over batsman in the history of IPL
### Strike Rate=(Number of runs/Number of balls)*100
### Min batsman 200 balls in over 16-20

In [101]:
death_over=delivery[delivery['over']>15]  # over always greater than 15
all_batsman=death_over.groupby('batsman')['batsman_runs'].count()
x=all_batsman>200
batsman_list=all_batsman[x].index.tolist()
batsman_list

['A Mishra',
 'AB de Villiers',
 'AD Mathews',
 'AM Rahane',
 'AR Patel',
 'AT Rayudu',
 'BJ Hodge',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hussey',
 'DPMD Jayawardene',
 'Harbhajan Singh',
 'IK Pathan',
 'JA Morkel',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'KA Pollard',
 'KD Karthik',
 'KM Jadhav',
 'LRPL Taylor',
 'MK Pandey',
 'MK Tiwary',
 'MS Dhoni',
 'NV Ojha',
 'P Kumar',
 'PP Chawla',
 'R Vinay Kumar',
 'RA Jadeja',
 'RG Sharma',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'SK Raina',
 'SPD Smith',
 'SS Tiwary',
 'STR Binny',
 'V Kohli',
 'WP Saha',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

### Runs scored by all these 43 batsman
### Balls played by these 43 batsman

In [112]:
final=delivery[delivery['batsman'].isin(batsman_list)]
balls=final.groupby('batsman')['batsman_runs'].sum()
runs=final.groupby('batsman')['batsman_runs'].count()
sr=(runs/balls)*100
sr

batsman
A Mishra            112.352941
AB de Villiers       68.904188
AD Mathews           82.734807
AM Rahane            85.116127
AR Patel             81.518152
AT Rayudu            81.291391
BJ Hodge             82.357143
DA Miller            72.616763
DA Warner            72.296961
DJ Bravo             81.774960
DJ Hussey            83.282905
DPMD Jayawardene     84.181416
Harbhajan Singh      73.967459
IK Pathan            85.652174
JA Morkel            73.025641
JH Kallis            94.396374
JP Duminy            81.986954
JP Faulkner          77.039848
KA Pollard           71.112999
KD Karthik           81.295212
KM Jadhav            76.595745
LRPL Taylor          83.284169
MK Pandey            85.515070
MK Tiwary            87.621359
MS Dhoni             75.280899
NV Ojha              87.314874
P Kumar              95.000000
PP Chawla            90.679612
R Vinay Kumar        93.750000
RA Jadeja            84.180139
RG Sharma            77.822676
RV Uthappa           78.348332
S Badrinath          86.398334
S Dhawan             84.386408
SK Raina             74.076517
SPD Smith            77.816696
SS Tiwary            87.068966
STR Binny            80.809399
V Kohli              78.996156
WP Saha              78.291586
Y Venugopal Rao      87.817259
YK Pathan            71.047228
Yuvraj Singh         79.120031
Name: batsman_runs, dtype: float64